.auth-clients {
	margin: 0;
	padding: 0;
}
.auth-clients li {
	margin-right: 5px;
}
.auth-icon {
	background-image: url('authchoice.png');
}
.auth-icon.odnoklassniki {
	background-position: 0 -306px;
}
.auth-icon.linked {
	opacity: 0.3;
	position: relative;
}
